/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Inter:wght@100..900&display=swap");

/* Color variables */
:root {
  --color-green: #003033;
  --color-grey: #cccccc;
  --color-btn: #00484d;
  --color-white: #fff;
}

.hero-aboutUs_members img {
  width: 25px;
  height: 25px;
}

.hero-aboutUs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: #cccccc;
  border-radius: 15px;
  margin: 2rem auto;
  z-index: 4;
}

.hero-aboutUs h2 {
  font-family: "Alegreya Sans SC";
  color: var(--color-green);
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 1rem;
  padding-top: 7rem;
}

.hero-aboutUs li,
p {
  color: var(--color-btn);
  font-size: 20px;
}

.container {
  align-items: center;
  display: flex;
}

.hero-aboutUs_members {
  width: 530px;
  height: 660px;
  text-align: center;
}

.hero-aboutUs_members li {
  list-style: none;
  margin-bottom: 0.4rem;
}

.hero-aboutUs_members li,
.hero-aboutUs_project p {
  font-family: "Inter";
}

.hero-aboutUs_project {
  width: 940px;
  height: 660px;
  text-align: center;
  padding-right: 2rem;
  margin-right: 2rem;
}

.hero-aboutUs_project p {
  text-align: justify;
  padding-bottom: 3rem;
}

.hero-aboutUs_project a {
  text-decoration: none;
  color: var(--color-white);
  background-color: #003033;
  font-family: "Inter";
  padding: 1rem 1.5rem;
  border-radius: 15px;
}

.hero-aboutUs_project a:hover {
  background-color: var(--color-btn);
  border: solid 2px var(--color-green);
}

@media (max-width: 1600px) {
  .container {
    display: block;
  }

  .hero-aboutUs_members {
    margin-left: 15rem;
  }

  .hero-aboutUs_project {
    margin-left: 3rem;
  }
}
