@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Inter:wght@100..900&display=swap");

/* Page reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Color Variables */
:root {
  --color-green: #003033;
  --color-btn: #00484d;
  --color-white: #fff;
}

/* Background image adjustment */
body {
  z-index: 1;
  min-height: 100vh;
  display: block;
}

body::before {
  content: "";
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url(../img/wolf-icon.svg);
  background-repeat: no-repeat;
  background-position: top right;
  opacity: 0.3;
  z-index: -1;
  pointer-events: none;
}

/* Header adjustment */
.hero-header {
  padding: 2rem;
}

.hero-header_welcome {
  text-align: center;
  margin-top: 25vh;
}

.hero-header_title {
  font-family: "Alegreya Sans SC";
  font-size: 7rem;
  font-weight: 400;
}

.hero-header_sidebarBtn {
  background: none;
  border: solid 1px transparent;
  cursor: pointer;
}

/* Font style */
p {
  font-family: "Inter";
  font-weight: 700;
  font-size: 1.5rem;
}

span {
  font-family: "Alegreya Sans SC";
  font-size: 1.8rem;
  border-bottom: solid 2px var(--color-green);
}

h1,
p {
  color: var(--color-green);
}

/* Tooltip base styles */
[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  background-color: var(--color-green);
  color: var(--color-white);
  padding: 0.5rem;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 10;
  font-size: 0.875rem;
  font-family: "Inter", sans-serif;
}

.show-tooltip::after {
  opacity: 1;
  visibility: visible;
}

/* Posiciona a tooltip à direita do .hero-header_sidebarBtn */
.hero-header_sidebarBtn[data-tooltip]::after {
  top: 50%;
  left: calc(100% + 0.5rem); /* Posiciona à direita com um pequeno espaço */
  transform: translateY(-50%);
}

/* Exibe a tooltip quando o mouse está sobre o elemento */
[data-tooltip]:hover::after {
  opacity: 1;
  visibility: visible;
}

/* Sidebar */
.hero-sidebar {
  background-color: hsl(184, 100%, 7%);
  width: 400px;
  height: 100vh;
  position: absolute;
  top: 0;
  display: none;
  z-index: 10;
}

.hero-sidebar.active {
  display: block;
}

.hero-sidebar_close {
  background: none;
  border: solid 1px transparent;
  position: absolute;
  right: 0;
  padding: 1rem;
}

.hero-sidebar_close > img {
  width: 40px;
  cursor: pointer;
}

.hero-sidebar_title {
  font-size: 48px;
  font-weight: 800;
  padding: 50px 0;
  text-align: center;
}

.hero-sidebar_navbar {
  margin-left: 3rem;
}

.hero-sidebar_navbar__option {
  margin-bottom: 10px;
  list-style: url(../img/sidebarOption-icon.svg);
}

.hero-sidebar_navbar__option > a {
  text-decoration: none;
  font-size: 24px;
}

.hero-sidebar_navbar__option > a:hover {
  transition: 0.2s linear;
  border-bottom: solid 1px var(--color-white);
}

.hero-sidebar_title,
.hero-sidebar_navbar__option > a {
  font-family: "Inter";
  color: var(--color-white);
}

.about-us {
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-btn);
  padding: 10px 100px;
  font-family: "Inter";
  font-size: 24px;
  position: absolute;
  bottom: 2rem;
  left: 11%;
  border-radius: 15px;
}

.about-us:hover {
  background-color: var(--color-grey);
  color: var(--color-green);
  border: solid 1px var(--color-btn);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5;
  display: none;
}

.overlay.active {
  display: block;
}

@media (max-width: 950px) {
  .hero-header {
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
  }
  .hero-header_sidebarBtn {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }

  .hero-header_title {
    margin-top: 2rem;
    font-size: 3rem;
    text-align: center;
    width: 100%;
  }
  
  .hero-sidebar_navbar {
    margin-left: 3rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 1500px) {
  .hero-sidebar_navbar {
    margin-left: 3rem;
    margin-bottom: 2rem;
  }
}

/* Classe para aplicar o efeito de desfoque ao fundo */
.blur-background {
  filter: blur(5px);
  transition: filter 0.3s;
}

/* Ajuste na exibição da barra lateral */
.hero-sidebar.active {
  display: block;
}

.no-scroll {
  overflow: hidden;
}
